.horizontal-container {
    display: flex; /* Устанавливает флекс-контейнер */
    justify-content: space-between; /* Распределяет пространство между элементами */
    align-items: center; /* Выравнивает элементы по центру по вертикали */
}

.text-item {
    flex: 1; /* Задает элементам одинаковую ширину */
    margin: 5%; /* Добавляет отступы между элементами */
    
}

.text-container {
    display: grid;
    margin: 0 auto;
    grid-gap: 20px;
    color: #0d752a;
    font-family: "Apple Chancery", cursive;
    grid-template-columns: repeat(auto-fill, minmax(310px, 310px));
    position: relative;
    justify-content: space-between;
    max-width: 1200px;
    padding: 20px;
}

.text-container-facts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: justify;
    padding: 5%;
    font-weight: 500;
    font-size: 16px;
    margin-left: 65%;
    width: 30vw;
}

.text-container-about {
  display: flex;               
  flex-direction: column;  
  justify-content: center;    
  align-items: flex-start;   
  text-align: justify;         
  padding: 5%; 
  font-weight: 500;
  font-size: 16px;
  margin-top: 5%;
  width: 40vw;
}

.faq_container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 1000px;
    margin-left: -100px;
}

.faq_title_container {
    padding-top: 150px;
    margin-left: 160px;
    color: #0d752a;
    font-family: "Apple Chancery", cursive;
}

.faq_title {
    font-size: 58px;
}

.questions_block {
    padding-top: 80px;
    color: #edf0b9;
    height: 300px;
    width: 900px;
}

.question_block {
    background-color: rgb(58, 71, 22);
    border-radius: 15px;
    padding: 0 200px;
    margin: 10px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    height: 50px;
    width: 900px;
}

.answer_block {
    background-color: #0d752a;
    border-radius: 15px;
    padding: 20px;
    margin: 10px 80px;
    display: none; /* Initially hidden */
    height: 30px;
    width: 1258px;
}

.arrow {
    transform: rotate(90deg); /* Initially pointing down */
    transition: transform 0.3s;
}

.arrow.open {
        transform: rotate(-90deg); /* Pointing up when open */
}
