html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    }
#root {
    height: 100%;
    width: 100%;
    }
body {
        background-image: url('./assets/layout1.jpg');
        background-size: cover; 
        background-repeat: no-repeat;
        background-position: center;
}
.russo-one-regular {
    font-family: Montserrat, var(--default-font-family);
    font-weight: 400;
    font-style: normal;
  }
.apple-18 {
    color: #0d752a;
    font-family: "Apple Chancery", cursive;
    font-size: 18px
}
.apple-24 {
    color: #0d752a;
    font-family: "Apple Chancery", cursive;
    font-size: 24px
}
.apple-36 {
    color: rgb(58, 71, 22);
    font-family: "Apple Chancery", cursive;
    font-size: 32px
}
.apple-48 {
    color: #0d752a;
    font-family: "Apple Chancery", cursive;
    font-size: 58px
}
.chancery-18 {
    color: rgb(58, 71, 22);
    font-family: "Apple Chancery", cursive;
    font-weight: 100;
    font-style: normal;
    font-size: 18px;
}
.chancery-24 {
    color: rgb(58, 71, 22);
    font-family: "Apple Chancery", cursive;
    font-weight: 100;
    font-style: normal;
    font-size: 24px;
}
.chancery-28 {
    color: rgb(58, 71, 22);
    font-family: "Apple Chancery", cursive;
    font-weight: 100;
    font-style: normal;
    font-size: 28px;
}